.resume_container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
}

.timeline{
    background-color: #FFF;
    padding: 1.875rem;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 5px 20px 0px rgb(69 67 98 / 10%);
}

.timeline_item{
    position: relative;
    padding-left: 3.125rem;
    padding-bottom: 3.125rem;
}

.timeline_item:last-child{
    padding-bottom: 0;
}

.timeline_item::before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    background-color: hsl(353, 100%, 65%);
    left: .25rem;
    top: 0;
}

.timeline .icon-graduation, .timeline .icon-briefcase{
    position: absolute;
    left: -0.4375rem;
    top: 0;
    font-size: 1.25rem;
    color: hsl(353, 100%, 65%);
    background-color: #FFF;
    padding: 0.4375rem 0;
}

.timeline_date{
    color: #8b88b1;
    font-size: 0.875rem;
}

.timeline_title{
    font-size: 1.25rem;
    margin: .5rem 0;
}

@media screen and (max-width: 1024px) {
    .resume_container{
        grid-template-columns: 450px;
        justify-content: center;
        row-gap: 1.875rem;
        max-width: 500px;
    }
    .timeline_item::before{
        left: 2px;
    }
}

@media screen and (max-width: 768px) {
    .resume_container{
        grid-template-columns: 1fr;
    }
}